.fc .fc-col-header-cell-cushion {
    color: black !important;
  }
  
  .fc .fc-timegrid-slot-label {
    color: black !important;
  }
  
  .fc .fc-daygrid-day-number {
    color: black !important;
  }
  
  .fc .fc-event-title {
    color: black !important;
  }
  